.page__jokes {
  .joke-list {
    li {
      margin-bottom: 10px;

      .joke-card {
        box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.5);

        p {
          margin: 0;
        }
      }
    }
  }
}