@import '../../scss/colors.scss';

.page__header {
  padding: 0 10px;

  h1 {
    font-family: Pacifico, sans-serif;
    font-size: 1.5em;
  }

  .profile-icon {
    button {
      color: #ffffff;
      font-size: 2em;

      &:hover {
        color: $success-color;
      }
    }
  }

  .img-thumbnail-custom {
    width: 45px;
    height: 45px;
    border-radius: 50%;

    &:hover {
      background-color: $success-color;
      border-color: $success-color;
    }
  }
}
