@import '~bootstrap/scss/bootstrap.scss';

* {
  box-sizing: border-box;
}

:root {
  --color-white: #fbfafa;
}

body,
ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.page__body {
  min-height: 100vh;
  background: linear-gradient(180deg, #AA076B 0%, rgba(97, 4, 95, 0.97) 100%);
  display: flex;
  flex-direction: column;

  .page__header {
    h1 {
      font-family: Pacifico, sans-serif;
    }

    a {
      text-decoration: none;
    }
  }

  .page__footer {}

  .page__header,
  .page__footer {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      color: var(--color-white);
    }
  }

  .page__footer h4,
  .page__joke h3 {
    font-family: 'Noto Sans', sans-serif;
    color: var(--color-white);
  }

  .page__joke {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .joke-card {
      width: 350px;
      height: 400px;
      background-color: var(--color-white);
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-family: Sniglet, sans-serif;
      padding: 10px;
      margin: 0 10px;
    }

    .joke-background {
      width: 100%;
      height: 100%;
      background-image: url('./img/emoji1.png');
      background-repeat: repeat;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .joke {
      width: 300px;
      background-color: var(--color-white);
      text-align: center;
      font-size: 2em;
      box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.5);
      border-radius: 15px;
      padding: 5px;
    }
  }

  .sharing-icons {
    width: 350px;
    display: flex;
    justify-content: space-around;

    svg {
      box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.5);
      width: 5em;
      height: 5em;
      padding: 5px;
      border-radius: 50%;
      transition: box-shadow .1s;
      
      &:hover {
        box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.5);
      }
    }
  }

  .page__swipe {
    width: 400px;
    margin-left: 2em;
  }

  .lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;

    div {
      position: absolute;
      border: 4px solid #AA076B;
      opacity: 1;
      border-radius: 50%;
      animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;

      &:nth-child(2) {
        animation-delay: -0.5s;
      }
    }
  }

  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }
}

.page__body.page__about {
  background: var(--color-white);
  font-family: 'Noto Sans', sans-serif;
  padding: 0 5em;

  a {
    color: #000;
    font-style: italic;
  }
}
