@import '../../scss/colors.scss';

.page__main {
  $menu-items: 2;
  $width: (100/$menu-items) * 1%;
  $indicator-color: #000;

  .auth-nav {
    width: 100%;
    margin: 10px 0;
  }

  .nav-item {
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
    width: $width;
    border-bottom: 2px solid #fff;

    &.tab-active button {
      color: $indicator-color;
    }

    &.tab-active,
    &:hover {
      border-bottom: 2px solid $indicator-color;
    }

    .btn {
      border: none;
      font-size: 1.2em;
      color: #fff;
      outline: none;
      
      &:active {
        outline: none;
      }
  
      &:hover {
        color: $indicator-color
      }
    }
  }

  .btn-custom {
    height: 50px;
    border-radius: 10px;
    border: 2px solid #fff;
    background-color: $secondary-color;
    width: 100%;
    color: #fff;

    &:hover {
      background-color: darken($color: $secondary-color, $amount: 5);
    }
  }

  .line {
    margin: 10px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

    .bar {
      flex: auto;
      border: none;
      height: 1px;
      background: #fff;
    }

    span {
      color: #fff;
      padding: 0 0.8rem;
    }
  }

  .manual-auth {
    width: 100%;
    margin: 10px 0;

    input {
      height: 50px;
      border-radius: 10px;
      border: none;
    }

    .custom-alert {
      background-color: $error-color;
      color: #fff;
    }
  }

  .social-auth {
    width: 100%;

    .firebaseui-card-content {
      padding: 0;

      form {
        ul {
          margin: 0;

          button {
            min-width: 100%;
            max-width: 100%;
            width: 100%;
            height: 50px;
            border-radius: 10px;
          }
        }
      }
    }
  }
}